{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}

<div>
  <div class="txt_body salto center-align">
    <h1>Correo enviado</h1>
    <p>Hemos enviamos instrucciones a su correo electrónico para restaurar su contraseña. Deberías recibirlos en breve. </br>Si no recibes el correo electrónico en los próximos minutos, asegúrate de haber escrito de forma correcta la dirección con la que estás registrado y revisar tu carpeta de spam.</p>
    <div class="section container">
      <div class="row">
      </div>
    </div>
  </div>
</div>

{% endblock %}