{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
<div>
  <div class="txt_body salto center-align">
<h3>Cree una nueva contraseña</h4>

<form action="" method="post">
  {% csrf_token %}
  {% if validlink %}
      <p>Por favor introduzca su nueva contraseña. </p>

      <p>
          {{ form.new_password1.errors }}<br/>
          {{ form.new_password1 }}
      </p><br>

      <p>Por favor repita su nueva contraseña. </p>
          {{ form.new_password2.errors }}<br/>
          {{ form.new_password2 }}
      </p>
  {% else %}
      <h4>Imposible cambiar contraseña</h4>
      <p>El enlace de recuperación de contraseña no es valido.
         Por favor vuelva a solicitar el cambio de contraseña.</p><br/>
  {% endif %}

  <button type="submit">Cambiar contraseña</button>
</form>

</div>
</div>

{% endblock %}